@model Reservator.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateID)
        </dd>
    </dl>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Reseravation Datatable
    </div>
    <div class="card-body">
        <form asp-controller="Reservation" asp-action="Create">
            <input type="hidden" name="id" asp-for="SessionID" />
            <input type="submit" value="Create Reservation" class="mb-4 btn btn-primary text-white" />
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Reservations)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                            <td>@Html.DisplayFor(modelItem => item.Score)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Return to Index</a>
</div>