@model Reservator.Models.Session

@{
    ViewData["Title"] = "Index";
}

<div class="s130">
    <form asp-controller="Session" asp-action="Details">
        <h3>@ViewData["Title"]</h3>
        
        <div class="inner-form">
            <div class="input-field first-wrap">
                <div class="svg-wrapper">
                    <img src="~/img/calendar.svg" width="24" height="24" viewBox="0 0 24 24">
                </div>

                <input type="date" name="date" asp-for="Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" id="search" class="form-control" required />
            </div>
            <div class="input-field second-wrap">
                <input type="submit" value="Check availability" class="btn-search">
            </div>
        </div>
    </form>
</div>

