
@{
    ViewData["Title"] = "Session";
}

<div class="s130">
    <form asp-action="Index">
        <h3>@ViewData["Title"]</h3>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <div class="svg-wrapper">
                    <img src="~/img/calendar.svg" width="24" height="24" viewBox="0 0 24 24">
                </div>
                <input id="search" class="form-control" type="date" required />
            </div>
            <div class="input-field second-wrap">
                <input type="submit" value="Check availability" class="btn-search">
            </div>
        </div>
    </form>
</div>
