@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Youcode Sessions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus et eleifend sapien, vitae lobortis nisi. Aliquam convallis nisi libero, eget porttitor felis lobortis.</p>
            <a asp-area="" asp-controller="Session" asp-action="Search" class="btn btn-primary">Search Session</a>
        </div>
        <div class="col">
            <img class="img-fluid " src="~/img/landing-img.jpg" alt="landing image" />
        </div>
    </div>
</div>
